In [17]:
import pandas as pd

In [18]:
import numpy as np

In [19]:
data=pd.read_csv('netflix_titles.csv')

In [20]:
data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [21]:
data.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [22]:
new_data=data[['show_id','type','title','listed_in','description']]

In [23]:
new_data

,show_id,type,title,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...
8802,s8803,Movie,Zodiac,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [24]:
new_data.isnull().sum()

show_id        0
type           0
title          0
listed_in      0
description    0
dtype: int64

In [25]:
new_data.duplicated().sum()

0

In [26]:
new_data['listed_in'][1]

'International TV Shows, TV Dramas, TV Mysteries'

In [27]:
new_data['description']=new_data['description'].apply(lambda x:x.split())

C:\Users\rawat\AppData\Local\Temp\ipykernel_10724\2259744897.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['description']=new_data['description'].apply(lambda x:x.split())

In [28]:
new_data['description'][0]

['As',
 'her',
 'father',
 'nears',
 'the',
 'end',
 'of',
 'his',
 'life,',
 'filmmaker',
 'Kirsten',
 'Johnson',
 'stages',
 'his',
 'death',
 'in',
 'inventive',
 'and',
 'comical',
 'ways',
 'to',
 'help',
 'them',
 'both',
 'face',
 'the',
 'inevitable.']

In [29]:
def remove(string):
    return string.replace(" ", "")
new_data['type']=new_data['type'].apply(remove)
#new_data['title']=new_data['title'].apply(remove)
new_data['listed_in']=new_data['listed_in'].apply(remove)

C:\Users\rawat\AppData\Local\Temp\ipykernel_10724\572537415.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['type']=new_data['type'].apply(remove)
C:\Users\rawat\AppData\Local\Temp\ipykernel_10724\572537415.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['listed_in']=new_data['listed_in'].apply(remove)

In [30]:
new_data

,show_id,type,title,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Documentaries,"[As, her, father, nears, the, end, of, his, li..."
1,s2,TVShow,Blood & Water,"InternationalTVShows,TVDramas,TVMysteries","[After, crossing, paths, at, a, party,, a, Cap..."
2,s3,TVShow,Ganglands,"CrimeTVShows,InternationalTVShows,TVAction&Adv...","[To, protect, his, family, from, a, powerful, ..."
3,s4,TVShow,Jailbirds New Orleans,"Docuseries,RealityTV","[Feuds,, flirtations, and, toilet, talk, go, d..."
4,s5,TVShow,Kota Factory,"InternationalTVShows,RomanticTVShows,TVComedies","[In, a, city, of, coaching, centers, known, to..."
...,...,...,...,...,...
8802,s8803,Movie,Zodiac,"CultMovies,Dramas,Thrillers","[A, political, cartoonist,, a, crime, reporter..."
8803,s8804,TVShow,Zombie Dumb,"Kids'TV,KoreanTVShows,TVComedies","[While, living, alone, in, a, spooky, town,, a..."
8804,s8805,Movie,Zombieland,"Comedies,HorrorMovies","[Looking, to, survive, in, a, world, taken, ov..."
8805,s8806,Movie,Zoom,"Children&FamilyMovies,Comedies","[Dragged, from, civilian, life,, a, former, su..."
8806,s8807,Movie,Zubaan,"Dramas,InternationalMovies,Music&Musicals","[A, scrappy, but, poor, boy, worms, his, way, ..."

In [31]:
new_data['description']=new_data['description'].apply(lambda x:' '.join(x))

C:\Users\rawat\AppData\Local\Temp\ipykernel_10724\411004904.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['description']=new_data['description'].apply(lambda x:' '.join(x))

In [32]:
new_data['tags']=new_data['type']+" "+ new_data['listed_in']+" "+ new_data['description']

C:\Users\rawat\AppData\Local\Temp\ipykernel_10724\1945962580.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['tags']=new_data['type']+" "+ new_data['listed_in']+" "+ new_data['description']

In [33]:
movie_df=new_data[['show_id','title','tags']]

In [34]:
movie_df['tags'][0]

'Movie Documentaries As her father nears the end of his life, filmmaker Kirsten Johnson stages his death in inventive and comical ways to help them both face the inevitable.'

In [35]:
movie_df['tags']=movie_df['tags'].apply(lambda x:x.lower())
movie_df['title']=movie_df['title'].apply(lambda x:x.lower())

C:\Users\rawat\AppData\Local\Temp\ipykernel_10724\3704946904.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_df['tags']=movie_df['tags'].apply(lambda x:x.lower())
C:\Users\rawat\AppData\Local\Temp\ipykernel_10724\3704946904.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_df['title']=movie_df['title'].apply(lambda x:x.lower())

In [36]:
movie_df['tags'][0]

'movie documentaries as her father nears the end of his life, filmmaker kirsten johnson stages his death in inventive and comical ways to help them both face the inevitable.'

In [37]:
from sklearn.feature_extraction.text import CountVectorizer

In [38]:
count = CountVectorizer(max_features=5000, stop_words='english')

In [39]:
count.fit_transform(movie_df['tags']).toarray().shape

(8807, 5000)

In [40]:
vectors=count.fit_transform(movie_df['tags']).toarray()

In [41]:
len(count.get_feature_names_out())

5000

In [42]:
import nltk

In [43]:
from nltk.stem.porter import PorterStemmer

In [44]:
ps=PorterStemmer()

In [45]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
        return " ".join(y)

In [46]:
movie_df['tags']=movie_df['tags'].apply(stem)

C:\Users\rawat\AppData\Local\Temp\ipykernel_10724\3163594586.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_df['tags']=movie_df['tags'].apply(stem)

In [47]:
from sklearn.metrics.pairwise import cosine_similarity

In [48]:
cosine_similarity(vectors).shape

(8807, 8807)

In [49]:
similarity=cosine_similarity(vectors)

In [50]:
similarity[0]

array([1.        , 0.        , 0.        , ..., 0.06900656, 0.13801311,
       0.05923489])

In [51]:
similarity.shape

(8807, 8807)

In [52]:
sorted(list(enumerate(similarity[10])), reverse=True, key=lambda x:x[1])[1:6]

[(1196, 0.42857142857142866),
 (4673, 0.42257712736425834),
 (2548, 0.38575837490522985),
 (490, 0.3779644730092273),
 (1991, 0.37062465833055064)]

In [54]:
def recommend_movie(movie):
    if movie in movie_df['title'].values:
        movie_index = movie_df[movie_df['title'] == movie].index[0]
        distances = similarity[movie_index]
        movie_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:6]
        for i in movie_list:
            print(movie_df.iloc[i[0]].title)
    else:
        print("Movie not found in database.")

In [55]:
recommend_movie('kota factory')

o-negative, love can’t be designed
cheese in the trap
castle of stars
before 30
college romance

In [60]:
from chatterbot import ChatBot
from chatterbot.trainers import ListTrainer
import time 
time.clock = time.time

In [71]:
#bot.py
chatbot = ChatBot("ChatPie")

trainer = ListTrainer(chatbot)
trainer.train(["Welcome, friend",])
trainer.train(["I need help",'Please go ahead',])
trainer.train(["Suggest me movies like {0}".format(input()),"Here they are:{0}".format(recommend_movie(input())),
])

exit_conditions = (":q", "quit", "exit")
while True:
    query = input("> ")
    if query in exit_conditions:
        break
    else:
        print(f" {chatbot.get_response(query)}")

List Trainer: [####################] 100%
List Trainer: [####################] 100%

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\rawat\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\rawat\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\rawat\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

Suggest me movies like shutter island
shutter island
gothika
five feet apart
jacob's ladder
fractured
kill the messenger
List Trainer: [####################] 100%
> exit

In [ ]:
#def recommend_movie(movie):
    #movie_index=movie_df[movie_df['title']==movie].index[0]
    #distances=similarity[movie_index]
    #movie_list=sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:6]
    #for i in movie_list:
        #print(movie_df.iloc[i[0]].title)